*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: '微软雅黑', tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
}

.main{
    width: 980px;
    height: 1386px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    top: 0px;;
    left: 0px;
}
.banner{
    height: 61px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top:0;
    left: 0px;

}
.brand {
    background-color: red;
    width: 110px;
    height: 61px;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.brand p{
    font-size: 12px;
    font-family: "黑体";
    color: #ffffff;
    position: absolute;
    bottom: 0px;
}
.hr{
    width: 892px;
    border: 2px solid #938e8;
}
.date{
    float: right;
    position: relative;
    right: 80px;
}
.date p{
    font-size: 12px;
    color: #d45d5c;
    font-family: "黑体";
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.part1{
    margin: 20px 0px;
    height: 301px;
    width: 892px;
}
.p1_left{
    float: left;
    width: 641px;
    height: 301px;
    position: relative;
}
#big_left{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 1;
}
.green_corver,.red_corver{
    position: absolute;
    width: 191px;
    height: 301px;
    opacity:0.3;
    z-index: 2;
}
.green_corver{
    float: left;
    background-color: green;
    top:0px;
    left: 0px;
}
.red_corver{
    float: right;
    background-color: red;
    top:0px;
    right: 0px;
}

.p1_right{
    float: right;
    width: 203px;
    height: 299px;
    margin: 0px;
    padding: 0px;
    border-top: 2px solid #cc8091;
    position: relative;
}
#right_p1:first-letter{
    font-size: 24px;
}
#right_p1 p{
    margin: 0px;
    padding: 0px;
}

.pr1{
    border-bottom: 2px solid #000000;
    margin: 0px;
    padding: 0px;
    width: 60px;

}
#sp1:first-letter{
    font-size: 24px;
}
#sp1 {
    margin-bottom: -10px;
    padding: 0px;
    line-height: 40px;
    color: #000000;
    font-family: "Microsoft YaHei";
    /*border-bottom: 2px solid #000000;*/
    text-decoration: none;
}
.pr2{
    border-bottom: 2px solid #000000;
    margin: 0px;
    padding: 0px;
    width: 113px;

}
#sp2:first-letter{
    font-size: 24px;
}
#sp2 {
    margin-bottom: -10px;
    padding: 0px;
    line-height: 40px;
    color: #000000;
    font-family: "Microsoft YaHei";
    /*border-bottom: 2px solid #000000;*/
    text-decoration: none;
}
.pr3{
    padding-right: 0px;
    margin-right: 0px;
}
.pr3 p{
    margin-top: 5px;
    font-size: 12px;
    margin-right: 0px;
    font-family: "KaiTi";
    line-height: 10px;
    color: #676767;
}
.pr4 p{
    margin-left: -10px;
    font-size: 116px;
    color: #75b86b;
    font-family: "Microsoft YaHei";
    font-style: italic;
}
.pr5{
    position: absolute;
    width: 203px;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    left: 0px;
    /*border: 1px solid red;*/
}

.pr5_left{
    float: left;
    margin-bottom: -10px;
}
.pr5_left p{

    font-size: 55px;
    font-family: "Microsoft YaHei";
    color: #cc8091;
}
.pr5_right{
    float: left;
    padding-top: 13px;
    margin-left: 5px;

}
.pr5_right_p1{
    font-size: 21px;
    font-family: "Microsoft YaHei";
    color: #cc8091;
}
.pr5_right_p2{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #cc8091;
}
.part2{
    width: 641px;
    height: 260px;
    position: relative;
}
.p2_left{
    float: left;
    width: 40%;
    padding: 0px;
    margin: 10px 0px;

}
#p2_left_p1{
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;
    font-size: 16px;
    color: #418c59;
    font-family: "Microsoft YaHei";
    text-decoration: underline;
}
#p2_left_p2{
    margin: 5px 0px;
    padding: 0px 20px 0px 0px;
    font-size: 12px;
    color: #767777;
    font-family: "宋体";
    line-height: 16px;
    text-align: match-parent;
}
.p2_mid{
    float: left;
    width: 30%;
    padding:0px;
    margin: 10px 0px;
}
#p2_mid_p1{
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;
    font-size: 16px;
    color: #d2994f;
    font-family: "Microsoft YaHei";
    text-decoration: underline;
}
#p2_mid_p2{
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;
    font-size: 12px;
    color: #767777;
    font-family: "宋体";
    line-height: 16px;
}
.p2_right{
    float: left;
    width: 30%;
    padding:0px ;
    margin: 10px 0px;
}
#p2_right_up_p1{
    margin: 5px;
    padding: 0px 10px;
    font-size: 16px;
    color: #d2994f;
    font-family: "Microsoft YaHei";
    text-decoration: underline;
}
#p2_right_up_p2{
    margin: 5px 5px 5px 0px;
    padding: 0px 15px;
    font-size: 12px;
    color: #cc7680;
    font-family: "宋体";
    line-height: 16px;
}
.p2_right_down {
    margin-top: 20px;
    margin-left: 15px;
}

.p2_right_down_sp1{
    font-size: 12px;
    color: #231815;
    line-height: 6px;
    opacity: 0.7;
}
.p2_right_down_sp2{
    font-size: 12px;
    color: #cd4a48;
    font-style: italic;
    line-height: 16px;
    opacity: 0.7;
}

.p3_left{
    padding: 0px;
}

.p3_left_up{
    padding: 0px;
    width: 415px;
    border-bottom: 2px solid #11456b;
}
.p3_left_up_p1_sp1{
    font-size: 72px;
    font-style: italic;
    font-family:黑体;
    color: #f5e327;
}
.p3_left_up_p1_sp2{
    font-size: 42px;
    font-style: inherit;
    font-family:黑体;
    color: #11456b;
}
.p3_left_down{
    padding: 20px 10px;
    width: 415px;
}
#p3_left_down_p1{
    font-size: 12px;
    color: #767777;
    font-family: 宋体;
    word-wrap: break-word;
    line-height: 16px;

}

#p3_left_down_p1 span{
    float: left;
    font-size: 70px;
    color: #f5e327;
    font-family: Microsoft YaHei;
    padding-top: 30px;
    margin-bottom: 20px;
}

.p3_left_down_p2{
    font-size: 12px;
    color: #767777;
    font-family: 宋体;
    word-wrap: break-word;
    line-height: 16px;
    text-indent: 2em;

}

#p3_left_down_p1 img{
    float: right;
    right: 0px;
    bottom: 30px;
    padding: 20px;
}